<li>
# if commission.commissioner == you.id or you.openids == ["xri://=!E68D.731D.F0A8.BFA8"]
  <form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/262540612749352" class="buybutton" method="post" name="BB_BuyButtonForm">
    <input name="item_name_1" type="hidden" value="Drawing for {{commission.commissioner_name}} (id:{{commission.id}})"/>
    <input name="item_description_1" type="hidden" value="{{commission.summary}}"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="{{commission.price}}"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=262540612749352&amp;w=121&amp;h=44&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
  </form>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="7TWUV9UHC8B38">
    <input type="hidden" name="lc" value="GB">
    <input type="hidden" name="item_name" value="Drawing for {{commission.commissioner_name}}: {{commission.summary}} (id:{{commission.id}})">
    <input type="hidden" name="amount" value="{{commission.price}}">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="tax_rate" value="0.000">
    <input type="hidden" name="shipping" value="0.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_SM.gif:NonHosted">
    <input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>  
  <a href="/{{commission.id}}">[edit]</a>
# endif
${{commission.price}} | {{commission.commissioner_name}} | {{commission.summary}}
# if commission.files
# for file in commission.files.keys()
| <a href='/{{commission.id}}/{{file}}'>{{file}}</a>
# endfor
# endif


</li>
