# extends 'base.html'
# block body
<h1>Kalu Commissions Tracker</h1>
<p>Kalu draws cute stuff for money.  
# if you
<a href="/new">Post a Commission Request</a> and chat with Kalu about it on AIM (kalufurret).
# else
Log in with <a href="http://openid.net">OpenID</a> if you want to commission Kalu, or chat with him on aim (kalufurret).
You can log in with a variety of familiar services, like AIM and Livejournal.  My app will give you a random name
to keep your login secret.  You can change it in Settings.
# endif
</p>

<h2>Commissions To Do</h2>
<ul>
# for commission in commissions
# include 'commission.html'
# endfor
</ul>

<h2>Finished Commissions</h2>
<ul>
# for commission in finished
# include 'commission.html'
# endfor
</ul>

# if you.openids == ["xri://=!E68D.731D.F0A8.BFA8"]
<h2>Deleted Commissions</h2>
<ul>
# for commission in deleted
# include 'commission.html'
# endfor
</ul>
# endif


<h2>Notes about Payment Methods</h2>
<p>The blue button is Google Checkout.  It only works for US Dollars.  They charge me 20 cents + 2% to accept your payment.
If you post a payment with google checkout, I will not charge it until your work is completed.  You or I can easily cancel a posted payment.</p>
<p>The orange button is PayPal.  It works for various currencies.  I am taking the free option, which means you'll have to register your 
  bank account with them if you want your payment to go through.  Because of this hassle, I suggest you post payment first.
  I can refund you manually if necessary.  If I end up using this payment method a lot, I'll consider enabling credit card payments.
  It would cost 30 cents + 3% to accept any payments in that case.</p>
<p>The buttons are smart enough to charge what you put down in the request, but not much more.
  Please don't change the price or summary after paying.'</p>
<h2>Wtf is this OpenID shit?</h2>
<p>Do you hate registering for things?  Well this time you don't have to.
  Now you can log in with an account you've already registered elsewhere, like AIM, LiveJournal,
  GMail, Yahoo, or Flickr.  I'll keep your identity a secret and just give you a random name when you log in.
  And no, this wont give me your password or anything.  So just go log in already!</p>

# endblock